/* @import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap"); */
@font-face {
  font-family: "Pacifico";
  src: url("./fonts/Pacifico-Regular.ttf");
}

:root {
  --font-medium: 3.5em;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  color: #000000;
  font-family: "Tulpen One", cursive;
  background-color: grey;
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.header__ul li a:hover {
  background-color: aquamarine;
}

header,
footer {
  color: rgb(88, 175, 204);
  background-color: white;
}

ul,
ol {
  list-style-type: none;
}

/* p {
  color: red;
  background-color: aquamarine;
  font-size: 2.5em;
  width: 150px;
} */

main {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  background-color: lightblue;
  font-size: var(--font-medium);
  margin-top: 102px;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 10px 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  width: 8rem;
}

.header__ul {
  display: flex;
  gap: 15px;
}

.header__ul li a {
  font-size: 4em;
  display: flex;
  align-items: flex-start;
}

/* div p {
  color: blue;
  background-color: azure;
  display: inline-block;
  width: 180px;
  font-family: "Pacifico";
} */

.caja {
  width: 300px;
  height: 300px;
  background-color: red;
  margin: 10px;
}

.p__caja {
  display: block;
  background-color: inherit;
  color: white;
}

.p__caja:active {
  background-color: chocolate;
}

#texto:focus {
  background-color: blueviolet;
}

#radio:checked {
  background-color: black;
}

/* p:first-child {
  color: whitesmoke;
}

p:last-child {
  color: coral;
} */

/* .dificil {
  background-color: blue;
  color: white;
  font-size: 1.1em;
}

.dificil p:nth-child(3n + 5) {
  color: rgb(230, 197, 13);
  text-decoration: underline;
} */

/* Aplicar el pseudoelemento solo a los elementos hijos específicos */
.hijos:nth-child(3n + 5)::before {
  content: "✔👟";
}

/* Estilos para los elementos hijos impares */
.hijos:nth-child(3n + 5) {
  color: rgb(230, 197, 13);
  text-decoration: underline;
}

.letras::first-letter {
  font-size: 1.5em;
  color: rgb(31, 17, 233);
  text-transform: uppercase;
  font-weight: 700;
}

.linea::first-line {
  color: rgb(31, 17, 233);
  font-weight: 700;
}

input::placeholder {
  color: aqua;
  background-color: cornflowerblue;
}

/* form {
  margin: 10px;
  position: relative;
  bottom: 40px;
  left: 40px;
} */

/* .tipo {
  position: absolute;
  top: 0;
  right: 0;
} */

form {
  position: absolute;
  top: 0px;
  right: 0px;
}

.tipo {
  position: relative;
  top: 0;
  left: 0;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.pegado {
  position: sticky;
  top: 350px;
  background-color: brown;
  color: azure;
}
