/* @import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap"); */

@font-face {
  font-family: "Pacifico";
  src: url("./fonts/Pacifico-Regular.ttf");
}

body {
  color: red;
  background-color: grey;
  font-family: "Tulpen One", cursive;
  font-size: 25px;
}

p {
  background-color: aquamarine;
  /* display: inline; */
  width: 150px;
}

div p {
  color: blue;
  background-color: azure;
  display: inline-block;
  width: 180px;
  font-family: "Pacifico";
}
